<!DOCTYPE html>
<html>
<head>
	<title>Project Launch Board</title>
	<!-- Required meta tags -->
   <meta charset="utf-8">
   <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="css/pingpong.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>

<div class="projectLaunchA">
		<button id="goTo_pingPong">
	<a href="/pingpong">PING PONG</a></button>
</div>

<div class="projectLaunchB">
		<button id="goTo_menuRestuarant">
		<a href="/menu_restuarant">MENU RESTUARANT
		</a>
		</button>
</div>

<div class="projectLaunchFooter">
	SELECT A PROJECT TO REVIEW
	<br>
	Made with &#9825; by <a href="https://github.com/DaggieBlanqx"> &#9731; Daggie Blanqx </a>
</div>
</body>
</html>