<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
   <meta charset="utf-8">
   <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<title>Ping Pong Game</title>
	<link rel="stylesheet" type="text/css" href="css/pingpong.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div class="myHeader">
		<h2 class="myTitle">Ping Pong</h2>
	</div>

	<div class="mySideTab">
		<h4>
			About Ping Pong
		</h4>

		<h4 class="myBrownFonts">Created by :</h4>

		<p>Daggie Blanqx</p>

		<h4 class="myBrownFonts">Github Username/URL </h4> 

		<a href="https://github.com/DaggieBlanqx">https://github.com/DaggieBlanqx</a>

		<h4 class="myBrownFonts">Level 2 	Test for:</h4>

		<p>JS</p>
	</div>


	<div class="myMain">
		<h3>Let`s Play! </h3>
		<br>
		<br>
		Not Happy with the current theme ?
		<button id="changeTheme">Change Theme</button>
		<br>

		<h4>Rules :</h4>

		<p>Ping Pong will count up to your number from 1 withthe following exceptions:</p>

		<ol>
			<li>Numbers divisible by 3 become 'ping' </li>
			<li>Numbers divisibleby 5 become 'pong'</li>
			<li>Numbers divisible by 3 and 5 become 'pingpong'</li>
		</ol>

		<div>
			Enter your number here : <input type="text" id="inputNum"> <button>Ping Pong !</button>
		</div>

		<div id="flags">
			RESULTS
		</div>
	</div>
	<div></div>
	<script type="text/javascript">
		//REGISTER MY THEME
		localStorage.setItem('currentTheme','brownGreen')
		
	</script>
	<script type="text/javascript" src="js/pingpong.js"></script>
</body>
</html>