<!DOCTYPE html>
<html>
<head>
	<title>ASSIGNMENT</title>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/pingpong.css">
</head>
<body id="themeB">
	<div class="holder _blanqx_bar">
		<div class="partA">
			<span style="text-align: center;">Don`t Like this theme ?
				<br>
				<span class="myBtn" id="changeTheme">Change Theme</span>
			</span>

			<p id="instructions">Enter a number</p>
			<input id="inputNum" type="text" name="">
		</div>
		<div class="partB">
			<resultArea>
				<p id="flags"></p>
			</resultArea>
		</div>
		<!--
		<textarea id="inputBox"></textarea>
		<div class="blanqx_input" id="inputBoxh" contenteditable="" hidden="">sss</div>
		<div class="blanqx_btn">Ping It! Pong It!</div>
		<hr>
		<div class="blanqx_resultArea" id="resultArea">
			
		</div>
	-->
	</div>
		<script type="text/javascript">
		//REGISTER MY THEME
		localStorage.setItem('currentTheme','purplePink');
	</script>
	<script type="text/javascript" src="../js/pingpong.js"></script>
</body>
</html>