<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1 ,name=">
      <title>
         MENU Restuarant 
      </title>

      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113865867-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-113865867-1');
        </script>

      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/restuarant.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <div class="container-fluid a">
         <div class="row">
            <div class="col">
               <!--<img class="img-fluid menuLogo" src="assets/icons/menu-4x.png">-->

               <nav class="navbar navbar-dark menuLogo">
                  <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type=
                  "button"><span class="navbar-toggler-icon"></span></button> <!-- Navbar links -->

                  <div class="collapse navbar-collapse" id="collapsibleNavbar" style=
                  "background-color: transparent;">
                     <ul class="navbar-nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">contacts</a>
                        </li>

                        <li class="nav-item">
                           <a class="nav-link" href="#">events</a>
                        </li>

                        <li class="nav-item">
                           <a class="nav-link" href="#">menu</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>

            <div class="col b">
               <img class="img-fluid" src="assets/logoBig.png"><br>

               <p>
                  We provide the best food<br>
                  at the Right Price
               </p>
            </div>

            <div class="col">
            </div>
         </div>
      </div>

      <div class="container-fluid c">
         <div class="row">
            <div class="col">
               <span class="d"></span>
               <p>
                  <span class="d" data-target="#happyHourModal" data-toggle="modal">Happy Hour</span>
               </p>
               <br>
               <span class="e"></span>
               <p>
                  <span class="e" data-target="#partyTimeModal" data-toggle="modal">Party Time</span>
               </p>
            </div>

            <div class="col f">
               <p style="z-index: 99999;">
                  Breakfast
               </p>
            </div>

            <div class="col g">
               <p style="z-index: 99999;">
                  Lunch
               </p>
            </div>

            <div class="col h">
               <p style="z-index: 99999;">
                  Dinner
               </p>
            </div>
         </div>
      </div>
      <br>
      <br>

      <div class="container-fluid i">
         <div class="row">
            <div class="col-sm-1">
            </div>

            <div class="col-sm-4">
               <div class="img-thumbnail j">
                  <img class="img-fluid" src="assets/fastFood1.jpg"> <img class="img-fluid" src=
                  "assets/fastFood2.jpg">
               </div>
            </div>

            <div class="col-sm-1">
            </div>

            <div class="col-sm-4">
               <h2>
                  Fast Food
               </h2>

               <h4>
                  You will love our delicious fast food
               </h4>
               <br>

               <p>
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                  egestas.<br>
                  Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.<br>
                  Donec eu libero sit amet quam egestas semper.<br>
                  Aenean ultricies mi vitae est.<br>
                  Mauris placerat eleifend leo.<br>
               </p>
               <br>
               <button class="btn btn-outline-danger btn-lg" type="button">VIEW GALLERY <i class=
               "material-icons">arrow_forward</i></button><br>
            </div>

            <div class="col-sm-1">
            </div>
         </div>
      </div>
      <br>
      <br>

      <div class="container-fluid i">
         <div class="row">
            <div class="col-sm-1">
            </div>

            <div class="col-sm-4">
               <h2>
                  Drinks
               </h2>

               <h4>
                  We also produce delicious drinks
               </h4>
               <br>

               <p>
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                  egestas.<br>
                  Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.<br>
                  Donec eu libero sit amet quam egestas semper.<br>
                  Aenean ultricies mi vitae est.<br>
                  Mauris placerat eleifend leo.<br>
               </p>
               <br>
               <button class="btn btn-outline-danger btn-lg" type="button">VIEW GALLERY <i class=
               "material-icons">arrow_forward</i></button><br>
            </div>

            <div class="col-sm-1">
            </div>

            <div class="col-sm-4">
               <div class="simg-thumbnail k">
                  <img class="img-fluid img-thumbnail" src="assets/drink1.jpg"> <img class=
                  "img-fluid img-thumbnail" src="assets/drink2.jpg">
               </div>
            </div>

            <div class="col-sm-1">
            </div>
         </div>
      </div>
      <br>
      <br>

      <div class="container-fluid l">
         <div class="row m">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8 n">
               <ul class="nav nav-tabs">
                  <li class="nav-item">
                     <a class="nav-link active" data-toggle="tab" href="#fastFood">Fast Food</a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#drinks">Drinks</a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#chicken">Chicken</a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#rice">Rice</a>
                  </li>
               </ul>
               <!-- Tab panes -->

               <div class="tab-content">
                  <div class="tab-pane active container" id="fastFood" style="overflow-x: scroll;">
                     <div class="o" data-toggle="tooltip" title=
                     "CLick then scroll sideways using keyboard arrow keys!">
                        <div class="card-deck">
                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="tab-pane container" id="drinks">
                     <div class="o" data-toggle="tooltip" title=
                     "CLick then scroll sideways using keyboard arrow keys!">
                        <div class="card-deck">
                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="tab-pane container" id="chicken">
                     <div class="o" data-toggle="tooltip" title=
                     "CLick then scroll sideways using keyboard arrow keys!">
                        <div class="card-deck">
                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="tab-pane container" id="rice">
                     <div class="o" data-toggle="tooltip" title=
                     "CLick then scroll sideways using keyboard arrow keys!">
                        <div class="card-deck">
                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/beefBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Beef Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src=
                              "../assets/fastfood/chickenBurger.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Burger
                                 </h5>
                              </div>
                           </div>

                           <div class="card">
                              <img alt="Card image cap" class="card-img-top" src="../assets/fastfood/chickenPizza.jpg">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    Chicken Pizza
                                 </h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-sm-8">
            </div>
         </div>
         <!-- The Modal -->

         <div class="modal fade" id="happyHourModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->

                  <div class="modal-header">
                     <h4 class="modal-title" style="text-align: center;">
                        Happy Hour
                     </h4>
                     <button class="close" data-dismiss="modal" type="button">&times;</button>
                  </div>
                  <!-- Modal body -->

                  <div class="modal-body">
                     <div style="text-align: center;">
                        Welcome to the happy hour ...<br>
                        Every day 1700hrs - 2000hrs

                        <hr>
                     </div>

                     <div class="table-responsive">
                        <table class="table">
                           <thead class="thead-dark">
                              <tr>
                                 <th>
                                    Index
                                 </th>
                                 <th>
                                    Food / Drink
                                 </th>
                                 <th>
                                    Price
                                 </th>
                              </tr>
                           </thead>

                           <tbody>
                              <tr>
                                 <td>
                                    #1
                                 </td>
                                 <td>
                                    Chef`s Salad
                                 </td>
                                 <td>
                                    Kes 799
                                 </td>
                              </tr>

                              <tr>
                                 <td>
                                    #2
                                 </td>
                                 <td>
                                    Steamed Rice + Fried Fish
                                 </td>
                                 <td>
                                    Kes 1299
                                 </td>
                              </tr>

                              <tr>
                                 <td>
                                    #3
                                 </td>
                                 <td>
                                    Acapella Smoothie
                                 </td>
                                 <td>
                                    Kes 599
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <!-- Modal footer -->

                  <div class="modal-footer">
                     <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- The Modal -->

         <div class="modal fade" id="partyTimeModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->

                  <div class="modal-header">
                     <h4 class="modal-title" style="text-align: center;">
                        Party Time
                     </h4>
                     <button class="close" data-dismiss="modal" type="button">&times;</button>
                  </div>
                  <!-- Modal body -->

                  <div class="modal-body">
                     <div style="text-align: center;">
                        Welcome to thee Party Time ...<br>
                        Every day 2200hrs - 0300hrs

                        <hr>
                     </div>

                     <div class="table-responsive">
                        <table class="table">
                           <thead class="thead-dark">
                              <tr>
                                 <th>
                                    Index
                                 </th>
                                 <th>
                                    Food / Drink
                                 </th>
                                 <th>
                                    Price
                                 </th>
                              </tr>
                           </thead>

                           <tbody>
                              <tr>
                                 <td>
                                    #1
                                 </td>
                                 <td>
                                    Splash Ale
                                 </td>
                                 <td>
                                    Kes 499
                                 </td>
                              </tr>

                              <tr>
                                 <td>
                                    #2
                                 </td>
                                 <td>
                                    Mild Le` Energy
                                 </td>
                                 <td>
                                    Kes 699
                                 </td>
                              </tr>

                              <tr>
                                 <td>
                                    #3
                                 </td>
                                 <td>
                                    Buttercup Soup
                                 </td>
                                 <td>
                                    Kes 599
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <!-- Modal footer -->

                  <div class="modal-footer">
                     <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <br>

      <div class="container-fluid i">
         <div class="row">
            <div class="col-sm-1">
            </div>

            <div class="col-sm-5 img-thumbnail" style=
            "border-right: transparent solid;text-align: center;">
               <h4 class="p">
                  Our Happy Customers
               </h4>
               <br>

               <h5 style="text-align: center ;font-style: oblique; font-stretch: semi-expanded;" id="clientName">
                  <!--client name here-->
               </h5>

               <h6 style="text-align: center ;font-style: oblique; font-stretch: semi-expanded;" id="customerQuote">
                  <!--client quotes / testimonial here-->
               </h6>
               <br>

               <div class="carousel slide" data-ride="carousel" id="slideCustomers">
                  <!-- Indicators -->

                  <ul class="carousel-indicators">
                     <li class="active" data-slide-to="0" data-target="#slideCustomers">
                     </li>

                     <li data-slide-to="1" data-target="#slideCustomers">
                     </li>

                     <li data-slide-to="2" data-target="#slideCustomers">
                     </li>
                  </ul>
                  <!-- The slideshow -->

                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <img alt="P1" src="./assets/customers/p1.png">
                     </div>

                     <div class="carousel-item">
                        <img alt="p2" src="./assets/customers/p2.png">
                     </div>

                     <div class="carousel-item">
                        <img alt="p3" src="./assets/customers/p3.png">
                     </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" data-slide="prev" href="#slideCustomers"> 
                     <p class="car_arrow">&#8666;</p>
                     <!--<span class="carousel-control-prev-icon nxt"></span>-->
                  </a>
                  <a class="carousel-control-next" data-slide="next" href="#slideCustomers"> 
                     <p class="car_arrow"> &#8667;</p>
                     <!--<span class="carousel-control-next-icon nxt"></span>-->
                  </a>
               </div>
            </div>

            <div class="col-sm-1">
            </div>

            <div class="col-sm-4 img-thumbnail" style="border-left: transparent solid;text-align: center;">
               <h4 class="p">
                  About Menu
               </h4>
               <br>

               <h6 style="font-style: oblique; font-stretch: semi-expanded;text-align: center;">
                  We are a little team of 7 members. Ut wisi enim ad minim veniam , quis nos trudexer ci tation
                  ullamcorper suscipit lob ortis nisl ut aliquip ex ea commodo conse quat. Duisau tem vel eum
                  iriure dolor in.
               </h6>
               <!--
               <div class="simg-thumbnail k">
                  <img class="img-fluid img-thumbnail" src="assets/drink1.jpg"> <img class="img-fluid img-thumbnail" src="assets/drink2.jpg">
               </div>
            -->
            </div>

            <div class="col-sm-1">
            </div>
         </div>
      </div>
      <br>
      <br>



      <div class="container-fluid q">
         <div class="row" style="padding-top: 15vh;">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8">
               <form action="https://blanqxmarketing.us17.list-manage.com/subscribe/post?u=d35880487548b21cf9ea874c3&amp;id=e9e588e3cd" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                    <input type="text" class="col-sm-6 subsInput" id="email"  style="text-align: center;background: white;opacity: 0.4;" placeholder="Your email" name="EMAIL">

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                     <input name="b_d35880487548b21cf9ea874c3_e9e588e3cd" tabindex="-1" type="text" value="">
                  </div>

                    <button type="submit" class="btn subsBtn col-sm-4"  style="text-align: center;" name="subscribe">Subscribe</button>
                  
                </form>
            </div>

            <div class="col-sm-2">
            </div>
         </div>
      </div>



       <div class="container-fluid r">
         <div class="row" style="padding-top: 15vh;">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8" style="text-align: center;">
               <img src="./assets/footerlogos/logo_white.png" class="img-fluid img-fluid"> 
               &nbsp; &nbsp;
               <myText class="myFootMenu">MENU</myText>
               <br>
               &nbsp;
               <br>
               <myText class="myFootMenuCredits">That is what we are </myText>

               <br>
               &nbsp;
               <br>
               <img src="./assets/footerlogos/facebook.png" class="img-fluid img-fluid">
               <img src="./assets/footerlogos/twitter.png" class="img-fluid img-fluid">
               <img src="./assets/footerlogos/pinterest.png" class="img-fluid img-fluid">

                <br>
               &nbsp;
               <br>


               <h6 style="color: white;">&copy;<myToday><!--Todays date here--></myToday> | MENU Restuarant <h6>
               <br>
               &nbsp;
               <br>
            </div>

            <div class="col-sm-2">
            </div>
         </div>
      </div>


      <div class="container-fluid s">
         <div class="row" style="padding-top: 15vh;">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8" style="text-align: center;">
               
            </div>

            <div class="col-sm-2">
            </div>
         </div>
      </div>
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       
      <script src="js/jquery-3.2.1.slim.min.js">
      </script> 
      <script src="js/popper.min.js">
      </script> 
      <script src="js/bootstrap.min.js">
      </script> <!-- Optional JavaScript -->
       
      <script src="js/restuarant.js" type="text/javascript">
      </script> 
   </body>
</html>